{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="pure-form pure-form-aligned" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <fieldset>

    <div class="pure-control-group">
      <label for="id_username">Username</label>
      <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username">
    </div>

    <div class="pure-control-group">
      <label for="id_password">Password</label>
      <input id="id_password" name="password" type="password" placeholder="Password">
    </div>

    <div class="pure-controls">
      
      <button type="submit" class="pure-button pure-button-primary" value="login">Submit</button>
    </div>

  </fieldset>
</form>

{% endblock %}
