{% extends "base.html" %}

{% block content %}

<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script> -->

<h2>Registration</h2>

{% if form.errors %}
<p>Invalid data. Please try again.</p>
{% endif %}

<form class="pure-form pure-form-aligned" method="post" action="">
  {% csrf_token %}
  <fieldset>

    <div class="pure-control-group required">
      <label for="id_username">Username</label>
      <input id="id_username" maxlength="30" name="username" type="text" placeholder="Username">
    </div>

    <div class="pure-control-group required">
      <label for="id_email">Email</label>
      <input id="id_email" name="email" type="email" placeholder="Email Address">
    </div>

    <div class="pure-control-group required">
      <label for="id_password1">Password</label>
      <input id="id_password1" name="password1" type="password" placeholder="Password">
    </div>

    <div class="pure-control-group required">
      <label for="id_password2">Password</label>
      <input id="id_password2" name="password2" type="password" placeholder="Password again">
    </div>

    <div class="pure-controls">
      <label for="cb" class="pure-checkbox">
        <input id="cb" type="checkbox" name="nice"> I will be nice on the site.
      </label>
      <button type="submit" class="pure-button pure-button-primary" value="Register">Register</button>
    </div>

  </fieldset>
</form>

{% endblock %}
